<div class="voice-assistant-container">
  <div class="voice-assistant">
    <div class="header">
      <h2>Voice Assistant</h2>
      <button class="end-button" (click)="endConversation()">
        <span class="call-end-icon">📞</span>
        End Call
      </button>
    </div>

    <div class="mic-container">
      <button 
        class="mic-button" 
        (click)="handleMicClick()"
        [class.listening]="status === 'listening'"
        [class.thinking]="status === 'thinking'"
        [class.responding]="status === 'responding'">
        <div class="mic-animation">
          <div class="siri-waves"></div>
          <div class="siri-waves"></div>
          <div class="siri-waves"></div>
        </div>
        <div class="mic-icon"></div>
      </button>
      
      <p class="status-text">
        <span [ngClass]="status">
          <ng-container [ngSwitch]="status">
            <ng-container *ngSwitchCase="'start'">Give it a try!</ng-container>
            <ng-container *ngSwitchCase="'listening'">Listening...</ng-container>
            <ng-container *ngSwitchCase="'thinking'">Processing...</ng-container>
            <ng-container *ngSwitchCase="'responding'">Playing response...</ng-container>
          </ng-container>
        </span>
      </p>

      <div class="speech-text" *ngIf="userSpeech">
        "{{ userSpeech }}"
      </div>
    </div>
  </div>
</div> 